<%- include('../components/head.ejs') %>
<%- include('../components/nav.ejs') %>

<main class="container bg-white p-4 p-md-5 my-5 shadow-sm rounded">

    <h1 class="mt-4 mb-3">Find an FBI Approved Channeler: Official List for Expedited Background Checks</h1>

    <p class="lead">
        Need an <strong>expedited FBI background check</strong> (also known as an Identity History Summary Check)?
        This official list of FBI-approved channelers provides the resources you need.
    </p>
    <p class="lead">
        Channelers are authorized intermediaries who securely submit your digital fingerprints and applicant data to
        the FBI, allowing you to receive your results much faster than traditional methods.
    </p>

    <p class="lead">
        If you require a digital background check, please contact one of the providers below. Once received, submit
        your background check via <a href="/apostille-order"> apostilledocuments.online</a>.<br> You can expect your finalized
        results within
        <span class="text-danger fw-bold">10 business days</span> (approximately 15 calendar days).
    </p>

    <p class="text-muted"><small><strong>Last updated on December 13, 2024</strong></small></p>

    <h2 class="mt-5 mb-3">How Channelers Streamline Your Background Check</h2>
    <p>
        An FBI-approved channeler streamlines the entire submission and retrieval process. They ensure your
        fingerprint data is transmitted securely and correctly to the FBI’s Criminal Justice Information Services
        (CJIS) Division, ensuring faster, more efficient access to your official Identity History Summary.
    </p>

    <div class="table-responsive">
        <table class="table table-bordered table-striped mt-4">
            <caption class="caption-top">Official list and contact information for FBI-approved channelers.</caption>
            <thead class="table-light">
                <tr>
                    <th>Website</th>
                    <th>Telephone</th>
                    <th>Email</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="https://www.datamaxx.com">www.datamaxx.com</a></td>
                    <td>(877) 369-8324</td>
                    <td>support@datamaxx.com</td>
                    <td>Florida</td>
                </tr>
                <tr>
                    <td><a href="https://www.fingerpro.net">www.fingerpro.net</a></td>
                    <td>601-992-4121</td>
                    <td>support@fingerpro.net</td>
                    <td>Mississippi</td>
                </tr>
                <tr>
                    <td><a href="https://www.americanbioidentity.com">www.americanbioidentity.com</a></td>
                    <td>1-833-224-2227</td>
                    <td>support@americanbioidentity.com</td>
                    <td>Colorado</td>
                </tr>
                <tr>
                    <td><a href="https://www.accuratebiometrics.com">www.accuratebiometrics.com</a></td>
                    <td>1-866-361-9944</td>
                    <td>info@accuratebiometrics.com</td>
                    <td>Illinois</td>
                </tr>
                <tr>
                    <td><a href="https://www.Biometrics4ALL.com">www.Biometrics4ALL.com</a></td>
                    <td>866-361-9944</td>
                    <td>info@accuratebiometrics.com</td>
                    <td>California</td>
                </tr>
                <tr>
                    <td><a href="https://dtis.com/">dtis.com</a></td>
                    <td>(714) 568-9888</td>
                    <td>info@biometrics4all.com</td>
                    <td>Virginia</td>
                </tr>
                <tr>
                    <td><a href="https://www.fieldprint.com">www.fieldprint.com</a></td>
                    <td>(703) 797-2562</td>
                    <td>cscenter@dtis.com</td>
                    <td>Maryland</td>
                </tr>
                <tr>
                    <td><a href="https://www.idemia.com">www.idemia.com</a></td>
                    <td>(888) 472-8918</td>
                    <td>info@fieldprint.com</td>
                    <td>Virginia</td>
                </tr>
                <tr>
                    <td><a href="https://www.screenid.net">www.screenid.net</a></td>
                    <td></td>
                    <td>dpo@idemia.com</td>
                    <td>Maryland</td>
                </tr>
                <tr>
                    <td><a href="https://www.nationalbackgroundcheck.com">www.nationalbackgroundcheck.com</a></td>
                    <td>866-987-3767</td>
                    <td>customerservice@screenid.net</td>
                    <td>Ohio</td>
                </tr>
                <tr>
                    <td><a href="https://www.nbinformation.com">www.nbinformation.com</a></td>
                    <td>614.457.8900</td>
                    <td>contactus@nationalbackgroundcheck.com</td>
                    <td>California</td>
                </tr>
                <tr>
                    <td><a href="https://www.sterlingidentity.com">www.sterlingidentity.com</a></td>
                    <td>408.993.1000</td>
                    <td>support@nbinformation.com</td>
                    <td>Oregon</td>
                </tr>
                <tr>
                    <td><a href="https://www.telos.com">www.telos.com</a></td>
                    <td>844.787.3431</td>
                    <td>support@sterlingidentity.com</td>
                    <td>Virginia</td>
                </tr>
                <tr>
                    <td><a href="https://www.trpassociates.net">www.trpassociates.net</a></td>
                    <td>1-800-999-9987</td>
                    <td>info@telos.com</td>
                    <td>Rhode Island</td>
                </tr>
                <tr>
                    <td><a href="https://www.vetconnex.com">www.vetconnex.com</a></td>
                    <td>(877) 885-1511</td>
                    <td>info@trpassociates.net</td>
                    <td>Minnesota</td>
                </tr>
                <tr>
                    <td><a href="https://www.fadv.com">www.fadv.com</a></td>
                    <td></td>
                    <td>info@vetconnex.com</td>
                    <td></td>
                </tr>
                <tr>
                    <td><a href="https://1atls.com">1atls.com</a></td>
                    <td>813.347.4436</td>
                    <td>1a@1atls.com</td>
                    <td>Florida</td>
                </tr>
                <tr>
                    <td><a href="https://www.fulcrumbiometrics.com">www.fulcrumbiometrics.com</a></td>
                    <td>1-800-430-4601</td>
                    <td>fulcrumlatam@fulcrumbiometrics.com</td>
                    <td>Texas</td>
                </tr>
                <tr>
                    <td><a href="https://www.nationalsecuritysolutions.com">www.nationalsecuritysolutions.com</a>
                    </td>
                    <td>1300 240 620</td>
                    <td>sales@nationalsecuritysolutions.com.au</td>
                    <td>Virginia</td>
                </tr>
                <tr>
                    <td><a href="https://www.thalesgroup.com">www.thalesgroup.com</a></td>
                    <td>33 (0)1 57 77 80 00</td>
                    <td>contact@thalesgroup.com</td>
                    <td>Delaware</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h2 class="mt-5 mb-3">Core Services Provided by Channelers</h2>
    <ul class="list-unstyled fs-5">
        <li class="mb-2"><span class="fw-bold">Applicant Data & Fingerprint Handling:</span> Securely accepting and
            processing your electronic fingerprint submissions and personal information.</li>
        <li class="mb-2"><span class="fw-bold">Secure Electronic FBI Transmission:</span> Transmitting your
            completed application and fingerprint data directly to the FBI’s CJIS Division for a comprehensive
            national check.
        </li>
        <li class="mb-2"><span class="fw-bold">Rapid Result Dissemination:</span> Receiving your electronic Identity
            History Summary results and delivering them securely back to you.</li>
        <li class="mb-2"><span class="fw-bold">Simplified Fee Collection:</span> Managing all associated FBI and
            channeler processing fees in one transaction.</li>
    </ul>

    <h2 class="mt-5 mb-3">Get Started Today</h2>
    <p class="lead">To begin your expedited FBI background check, review the list above and select an approved
        channeler. Contact them directly via their website or phone number to start the process.</p>

</main>

<%- include('../components/footer.ejs') %>
