<%- include('../components/head.ejs') %>
<%- include('../components/nav.ejs') %>

<div class="coverArea text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    THE EASIEST, FASTEST, AND secured WAY TO APOSTILLE DIGITAL DOCUMENTS
                </h1>
            </div>
            <div class="col-md-6 ">
                <div class="box text-center border border-3 border-white">
                    <h4 class="border-bottom border-3 border-white p-2">Apostille Services Online</h4>
                    <p class="border-bottom border-3 border-white p-2 m-0">$100 Per Documet</p>
                    <p class="border-bottom border-3 border-white p-2 m-0">Includes Government and Notary Fees
                    </p>
                    <p class="border-bottom border-3 border-white p-2 m-0">Next Day Services</p>
                    <p class=" p-2 m-0">
                        <a href="/apostille-order" class="btn btn-light">Start Your Order Now</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="steps-section">
    <div class="container">
        <h2 class="text-center">
            Apostille Now Only in <span class="spacial-text"> 3</span> Steps
        </h2>
        <div class="row justify-content-between mt-4">
            <div class="col-md-3">
                <div class="step-box">
                    <div class="icon">
                        <i class="fa-brands fa-wpforms"></i>
                    </div>
                    <div class="step-num">
                        Step 1
                    </div>
                    <p>
                        Enter Your Data
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="step-box">
                    <div class="icon">
                        <i class="fa-solid fa-file-arrow-up"></i>
                    </div>
                    <div class="step-num">
                        Step 2
                    </div>
                    <p>
                        Upload Your Files
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="step-box">
                    <div class="icon">
                        <i class="fa-regular fa-circle-check"></i>
                    </div>
                    <div class="step-num">
                        Step 3
                    </div>
                    <p>
                        Checkout
                    </p>
                </div>
            </div>
        </div>
        <a href="/apostille-order" class="btn btn-order">Start Your Order Now</a>
    </div>
</section>
<section class="copy-section mt-5">
    <h2 class="text-center mb-4">
        What is a True Copy Apostille?
    </h2>
    <div class="container">
        <p>
            Our online process is where we provide Apostilles from digital copies of original documents. We affix
            what we call a custodial certificate. We attach a statement that certifies the copy of your document is
            a True and Accurate copy of the original that is provided by you and in your possession. We then
            notarize this certificate statement and obtain the Apostille on that notarized custodial certificate
            along with the printed copy of your document that you’ve provided.
        </p>
        <p>
            This True Copy Apostille method, while widely accepted in most cases, does have limitations depending on
            the authority you’re presenting it to and country of use. Fulfillment of your request does not guarantee
            that your documents will be accepted. The receiving party is the ultimate authority on whether your
            documents are acceptable.
        </p>
    </div>
</section>
<section class="process-section">
    <div class="main-process-content">
        <h2 class="text-center">
            Our Apostille Process
        </h2>
        <div class="container mt-5 mb-4">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <div class="img">
                        <img src="./img/process.webp" alt="Apostille Process" width="auto" height="auto">
                    </div>
                </div>
                <div class="col-md-8">
                    <ul class="mt-3">
                        <li>
                            <i class="fa-solid fa-print"></i> Print COLOR copy of document
                        </li>
                        <li>
                            <i class="fa-regular fa-copy"></i> Attach custodial certificate of TRUE COPY statement on
                            document
                        </li>
                        <li>
                            <i class="fa-solid fa-font-awesome"></i> NOTARIZE certified document
                        </li>
                        <li>
                            <i class="fa-solid fa-star"></i> Obtain an APOSTILLE from the Secretary of State
                        </li>
                        <li>
                            <i class="fa-regular fa-square-check"></i> Send completed Apostille to you anywhere in the
                            WORLD
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../components/footer.ejs') %>
