<%- include('../components/head.ejs') %>
    <%- include('../components/nav.ejs') %>

    <div id="fawaterkDivId"></div>
    <script src="https://app.fawaterk.com/fawaterkPlugin/fawaterkPlugin.min.js"></script>
    <script>
        const hash = <%- JSON.stringify(hash) %>;
        var pluginConfig = {
            envType: "test",
            hashKey: hash,
            style:{
              listing:"horizontal"
            },
            version:"0",
            requestBody: {
                "cartTotal": "50",
                "currency": "EGP",
                "customer": {
                    "first_name": "test",
                    "last_name": "fawaterk",
                    "email": "test@fawaterk.com",
                    "phone": "0123456789",
                    "address": "test address"
                },
                "redirectionUrls": {
                    "successUrl": "https://dev.fawaterk.com/success",
                    "failUrl": "https://dev.fawaterk.com/fail",
                    "pendingUrl": "https://dev.fawaterk.com/pending"
                },
                "cartItems": [{
                        "name": "this is test oop 112252",
                        "price": "25",
                        "quantity": "1"
                    },
                    {
                        "name": "this is test oop 112252",
                        "price": "25",
                        "quantity": "1"
                    }
                ],
                "payLoad": {
                  "custom_field1":"xyz",
                  "custom_field2":"xyz2"
                }
            }
        };
        fawaterkCheckout(pluginConfig);
    </script>
        <%- include('../components/footer.ejs') %>